<%= form_for(@order, html: {class: "form-horizontal"}) do |f| %>
  <% if @order.errors.any? %>
      <% @order.errors.full_messages.each do |msg| %>
        <div class="alert alert-error"><%= msg %></div>
      <% end %>
  <% end %>

  <div class="control-group">
    <%= f.label :name, class: "control-label" %>
    <div class="controls">
    <%= f.text_field :name, size: 40 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :address, class: "control-label" %>
    <div class="controls">
    <%= f.text_area :address, rows: 3, cols: 40 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, class: "control-label" %>
    <div class="controls">
    <%= f.email_field :email, size: 40 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :pay_type, class: "control-label" %>
    <div class="controls">
    <%= f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit 'Place Order', class: "btn btn-primary" %>
  </div>
<% end %>
