<div class="page-header">
  <h1>Products</h1>
</div>
<table class="table table-striped">
  <colspan>
    <col width="10%" />
    <col width="70%" />
    <col width="20%" />
  </colspan>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= image_tag(product.image_url, class: 'list_image') %></td>
        <td>
          <h3><%= product.title %></h3>
          <p><%= truncate(strip_tags(product.description), length: 110) %></p>
        </td>
        <td>
          <%= link_to 'Show', product, :class => 'btn btn-mini' %>
          <%= link_to 'Edit', edit_product_path(product), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', product_path(product), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Create Product', new_product_path, :class => 'btn btn-primary' %>
